.btn-primary {
  background: $theme-primary;
  background: -webkit-linear-gradient($theme-primary, darken($theme-primary, 5%));
  background: linear-gradient($theme-primary, darken($theme-primary, 5%));
}
.btn-secodary {
    background: $theme-secondary;
    background: -webkit-linear-gradient($theme-secondary, darken($theme-secondary, 5%));
    background: linear-gradient($theme-secondary, darken($theme-secondary, 5%));
}

.btn-tertiary {
    background: $theme-tertiary;
    background: -webkit-linear-gradient($theme-tertiary, darken($theme-tertiary, 5%));
    background: linear-gradient($theme-tertiary, darken($theme-tertiary, 5%));
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white-base;
    background-color: $theme-primary;
    border-color: $white-base;
  }
}

.btn {
  @include alt-font;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius:100px;
}

.btn-xl {
  padding:10px 30px;
  font-size:11px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.button:focus {
	outline: none;
	outline-offset: 0px;
	text-decoration: none;
}

.buttons-group {
	margin: 0px -10px;
}

.buttons-group a,
.buttons-group button {
	margin: 0 10px;
}

.button-fullwidth {
	width: 100%;
}

.button.fullwidth {
	width: 100%;
}

a.button-image:hover {
	opacity: 0.87;
}

/* Default Button */

.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: 0;
	outline-offset: 0;
	white-space: nowrap;
	margin: 5px;
	padding: 0 27px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background-color: #2196f3;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.button i {
	color: #fff;
	position: relative;
	line-height: 1;
	margin-right: 5px;
}

.button:hover,
.button:focus {
	color: #fff;
	opacity: .87;
}

.button:hover i,
.button:focus i {
	color: #fff;
}

.button.icon-right i {
	margin: 0 0 0 5px;
}

/* Button Styles */

.button.button-noradius{
	border-radius: 0;
}

.button.button-rounded {
	border-radius: 26px;
}

.button.button-border {
	border: 2px solid #2196f3;
	background-color: transparent !important;
	color: #2196f3;
	line-height: 36px;
}

.button.button-border.border-thin {
	border-width: 1px;
	line-height: 38px;
}

.button.button-border i {
	color: #2196f3;
}

.button.button-link,
.button.button-link-uppercase {
	background-color: transparent !important;
	border-color: transparent !important;
}

.button.button-link-uppercase {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.button.button-link,
.button.button-link-uppercase,
.button.button-link i,
.button.button-link-uppercase i {
	color: #2196f3;
}

.button.button-shadow {
	box-shadow: 0 10px 20px rgba(0,0,0,.09);
}

/* Button Sizes */

.button.button-mini {
	padding: 0 19px;
	font-size: 11px;
	height: 28px;
	line-height: 28px;
}

.button.button-border.button-mini {
	line-height: 24px;
}

.button.button-border.border-thin.button-mini {
	line-height: 26px;
}

.button.button-small {
	padding: 0 22px;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}

.button.button-border.button-small {
	line-height: 30px;
}

.button.button-border.border-thin.button-small {
	line-height: 32px;
}

.button.button-large {
	padding: 0 31px;
	font-size: 16px;
	height: 46px;
	line-height: 46px;
}

.button.button-border.button-large {
	line-height: 42px;
}

.button.button-border.border-thin.button-large {
	line-height: 44px;
}

.button.button-xlarge {
	padding: 0 37px;
	font-size: 18px;
	letter-spacing: 2px;
	height: 52px;
	line-height: 52px;
}

.button.button-border.button-xlarge {
	line-height: 48px;
}

.button.button-border.border-thin.button-xlarge {
	line-height: 50px;
}

/* Button Colours */

/* Red */
.button.button-red {
	background-color: #dd4b39;
}

.button.button-red.button-border {
	border-color: #dd4b39;
}

.button.button-red.button-shadow {
	box-shadow: 0 10px 20px rgba(221,75,57,.21);
}

.button.button-red.button-border,
.button.button-red.button-link,
.button.button-red.button-link-uppercase,
.button.button-red.button-border i,
.button.button-red.button-link i,
.button.button-red.button-link-uppercase i {
	color: #dd4b39;
}

/* Pink */
.button.button-pink {
	background-color: #e91e63;
}

.button.button-pink.button-border {
	border-color: #e91e63;
}

.button.button-pink.button-shadow {
	box-shadow: 0 10px 20px rgba(233,30,99,.21);
}

.button.button-pink.button-border,
.button.button-pink.button-link,
.button.button-pink.button-link-uppercase,
.button.button-pink.button-border i,
.button.button-pink.button-link i,
.button.button-pink.button-link-uppercase i {
	color: #e91e63;
}

/* Purple */
.button.button-purple {
	background-color: #9c27b0;
}

.button.button-purple.button-border {
	border-color: #9c27b0;
}

.button.button-purple.button-shadow {
	box-shadow: 0 10px 20px rgba(156,39,176,.21);
}

.button.button-purple.button-border,
.button.button-purple.button-link,
.button.button-purple.button-link-uppercase,
.button.button-purple.button-border i,
.button.button-purple.button-link i,
.button.button-purple.button-link-uppercase i {
	color: #9c27b0;
}

/* Indigo */
.button.button-indigo {
	background-color: #2951d5;
}

.button.button-indigo.button-border {
	border-color: #2951d5;
}

.button.button-indigo.button-shadow {
	box-shadow: 0 10px 20px rgba(63,81,181,.21);
}

.button.button-indigo.button-border,
.button.button-indigo.button-link,
.button.button-indigo.button-link-uppercase,
.button.button-indigo.button-border i,
.button.button-indigo.button-link i,
.button.button-indigo.button-link-uppercase i {
	color: #2951d5;
}

/* Blue */
.button.button-blue {
	background-color: #2196f3;
}

.button.button-blue.button-border {
	border-color: #2196f3;
}

.button.button-blue.button-shadow {
	box-shadow: 0 10px 20px rgba(33,150,243,.21);
}

.button.button-blue.button-border,
.button.button-blue.button-link,
.button.button-blue.button-link-uppercase,
.button.button-blue.button-border i,
.button.button-blue.button-link i,
.button.button-blue.button-link-uppercase i {
	color: #2196f3;
}

/* Cyan */
.button.button-cyan {
	background-color: #00bcd4;
}

.button.button-cyan.button-border {
	border-color: #00bcd4;
}

.button.button-cyan.button-shadow {
	box-shadow: 0 10px 20px rgba(0,188,212,.21);
}

.button.button-cyan.button-border,
.button.button-cyan.button-link,
.button.button-cyan.button-link-uppercase,
.button.button-cyan.button-border i,
.button.button-cyan.button-link i,
.button.button-cyan.button-link-uppercase i {
	color: #00bcd4;
}

/* Teal */
.button.button-teal {
	background-color: #80CBC4;
}

.button.button-teal.button-border {
	border-color: #80CBC4;
}

.button.button-teal.button-shadow {
	box-shadow: 0 10px 20px rgba(128,203,196,.21);
}

.button.button-teal.button-border,
.button.button-teal.button-link,
.button.button-teal.button-link-uppercase,
.button.button-teal.button-border i,
.button.button-teal.button-link i,
.button.button-teal.button-link-uppercase i {
	color: #80CBC4;
}

/* Green */
.button.button-green {
	background-color: #8bc34a;
}

.button.button-green.button-border {
	border-color: #8bc34a;
}

.button.button-green.button-shadow {
	box-shadow: 0 10px 20px rgba(139,195,74,.21);
}

.button.button-green.button-border,
.button.button-green.button-link,
.button.button-green.button-link-uppercase,
.button.button-green.button-border i,
.button.button-green.button-link i,
.button.button-green.button-link-uppercase i {
	color: #8bc34a;
}

/* Lime */
.button.button-lime {
	background-color: #cddc39;
}

.button.button-lime.button-border {
	border-color: #cddc39;
}

.button.button-lime.button-shadow {
	box-shadow: 0 10px 20px rgba(205,220,57,.21);
}

.button.button-lime.button-border,
.button.button-lime.button-link,
.button.button-lime.button-link-uppercase,
.button.button-lime.button-border i,
.button.button-lime.button-link i,
.button.button-lime.button-link-uppercase i {
	color: #cddc39;
}

/* Yellow */
.button.button-yellow {
	background-color: #ffeb3b;
}

.button.button-yellow.button-border {
	border-color: #ffeb3b;
}

.button.button-yellow.button-shadow {
	box-shadow: 0 10px 20px rgba(255,235,59,.21);
}

.button.button-yellow.button-border,
.button.button-yellow.button-link,
.button.button-yellow.button-link-uppercase,
.button.button-yellow.button-border i,
.button.button-yellow.button-link i,
.button.button-yellow.button-link-uppercase i {
	color: #ffeb3b;
}

/* Amber */
.button.button-amber {
	background-color: #ffc107;
}

.button.button-amber.button-border {
	border-color: #ffc107;
}

.button.button-amber.button-shadow {
	box-shadow: 0 10px 20px rgba(255,193,7,.21);
}

.button.button-amber.button-border,
.button.button-amber.button-link,
.button.button-amber.button-link-uppercase,
.button.button-amber.button-border i,
.button.button-amber.button-link i,
.button.button-amber.button-link-uppercase i {
	color: #ffc107;
}

/* Orange */
.button.button-orange {
	background-color: #ff9800;
}

.button.button-orange.button-border {
	border-color: #ff9800;
}

.button.button-orange.button-shadow {
	box-shadow: 0 10px 20px rgba(255,152,0,.21);
}

.button.button-orange.button-border,
.button.button-orange.button-link,
.button.button-orange.button-link-uppercase,
.button.button-orange.button-border i,
.button.button-orange.button-link i,
.button.button-orange.button-link-uppercase i {
	color: #ff9800;
}

/* Brown */
.button.button-brown {
	background-color: #795548;
}

.button.button-brown.button-border {
	border-color: #795548;
}

.button.button-brown.button-shadow {
	box-shadow: 0 10px 20px rgba(121,85,72,.21);
}

.button.button-brown.button-border,
.button.button-brown.button-link,
.button.button-brown.button-link-uppercase,
.button.button-brown.button-border i,
.button.button-brown.button-link i,
.button.button-brown.button-link-uppercase i {
	color: #795548;
}

/* Grey */
.button.button-grey {
	background-color: #f5f7f9;
}

.button.button-grey,
.button.button-grey i,
.button.button-grey:hover,
.button.button-grey:hover i,
.button.button-grey.button-border,
.button.button-grey.button-border i {
	color: #333;
}

.button.button-grey.button-border {
	border-color: #e5e7e9;
}

.button.button-grey.button-shadow {
	box-shadow: 0 10px 20px rgba(237,237,237,.21);
}

.button.button-grey.button-link,
.button.button-grey.button-link-uppercase,
.button.button-grey.button-link i,
.button.button-grey.button-link-uppercase i {
	color: #777;
}

/* Black */
.button.button-black {
	background-color: #333;
}

.button.button-black.button-border {
	border-color: #333;
}

.button.button-black.button-shadow {
	box-shadow: 0 10px 20px rgba(0,0,0,.09);
}

.button.button-black.button-border,
.button.button-black.button-link,
.button.button-black.button-link-uppercase,
.button.button-black.button-border i,
.button.button-black.button-link i,
.button.button-black.button-link-uppercase i {
	color: #333;
}

/* White */
.button.button-white {
	background-color: #fff;
}

.button.button-white,
.button.button-white i,
.button.button-white:hover,
.button.button-white:hover i {
	color: #333;
}

.button.button-white.button-border {
	border-color: #fff;
}

.button.button-white.button-border,
.button.button-white.button-link,
.button.button-white.button-link-uppercase,
.button.button-white.button-border i,
.button.button-white.button-link i,
.button.button-white.button-link-uppercase i,
.button.button-white.button-border:hover,
.button.button-white.button-border:hover i,
.button.button-white.button-link:hover,
.button.button-white.button-link-uppercase:hover,
.button.button-white.button-link:hover i,
.button.button-white.button-link-uppercase:hover i {
	color: #fff;
}
